.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid var(--text);
}

.logo {
  height: 2rem;
}

.logo img {
  height: 100%;
}

.navAbout {
  text-decoration: none;
  color: #00d8ff;
}

.navAbout:hover {
  text-decoration: underline;
  color: #0f0;
}

.themeToggle {
  border: none;
  padding: 0;
  height: 0;
}

.themeToggle img {
  width: 20px;
}

.logo img:hover {
  transition: 1s;
  transform: rotate(180deg);
}
