.countrySelectTableContainer {
  border: 1px solid #ddd;
  width: 100%;
}

.filtersContainer {
  display: flex;
}

.countryHeaderTable {
  width: 100%;
  table-layout: fixed;
}

.countrySelectHeader {
  padding: 5px;
  background-color: #4b4b4b;
  text-align: center;
}
